/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Global CSS Variables
:root {
  --primary: #FFD700; /* Amarelo */
  --secondary: #003366; /* Azul */
  --whatsapp: #25D366;
  --bg: #f4f4f4;
  --text: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Snackbar Styles
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
  
  .mat-mdc-snack-bar-label {
    color: white !important;
  }
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  
  .mat-mdc-snack-bar-label {
    color: white !important;
  }
}

// Scrollbar Styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
